In [1]:
import pandas as pd
import numpy as np 

import json
from pandas.io.json import json_normalize

import matplotlib
import matplotlib.pyplot as plt
import folium

from bs4 import BeautifulSoup
import geopy
import requests

In [2]:
url_banglore='https://en.wikipedia.org/wiki/List_of_neighbourhoods_in_Bangalore'
url_delhi='https://en.wikipedia.org/wiki/List_of_neighbourhoods_of_Delhi'

In [3]:
def banglore_neighbor(url_banglore):
    ab=[]
    html_data_banglore=requests.get(url_banglore).text
    soup_banglore=BeautifulSoup(html_data_banglore,'html.parser')

    for i in soup_banglore.find_all('tr'):
        try:
            a=i.find('a')
            ab.append(a.next_element)
        except:
            pass
    return ab

In [4]:
def delhi_neighbor(urld):
    neighbor_delhi=[]
    html_data_delhi=requests.get(url_delhi).text
    soup_delhi=BeautifulSoup(html_data_delhi,'html.parser')
    for i in soup_delhi.find_all('li'):
        try:
            x=i.a   
            if '<' in str(x.next_element):
                pass
            else:
                neighbor_delhi.append(x.next_element)
        except:
            neighbor_delhi.append(list(i.descendants)[0])
    return neighbor_delhi[:119]

In [5]:
delhi_neighbors=delhi_neighbor(url_delhi)

In [6]:
banglore_neighbors=banglore_neighbor(url_banglore)

In [15]:
def location_finder(x):
    geolocator=geopy.geocoders.Nominatim(user_agent='neighod')
    g=geolocator.geocode(x['Neighborhood'])
    try:
        x.loc['Latitude']=g.latitude
        x.loc['Longitude']=g.longitude
    except:
        x.loc['Latitude']=np.nan
        x.loc['Longitude']=np.nan

In [16]:
def dataframe_creation(data_list):
    columns=['Neighborhood','Latitude','Longitude']
    dataframe=pd.DataFrame(columns=columns)
    dataframe['Neighborhood']=data_list
    dataframe.apply(location_finder,axis=1)
    return dataframe

In [17]:
delhi_dataframe=dataframe_creation(delhi_neighbors)
delhi_dataframe

       Neighborhood Latitude Longitude
0      Adarsh Nagar  28.7166   77.1704
1       Ashok Vihar  19.1165   72.8868
2         Begum Pur  28.7255   77.0584
3            Karala  10.3529    76.512
4            Narela  28.8426   77.0918
..              ...      ...       ...
114  Rajouri Garden  28.6422   77.1161
115   Tihar Village   30.849   78.6413
116     Tilak Nagar  28.6365   77.0965
117     Vikas Nagar  31.0796   77.1783
118       Vikaspuri  28.6384   77.0708

[119 rows x 3 columns]

In [20]:
delhi_dataframe.to_csv('Data/delhi_dataframe.csv')

In [18]:
banglore_dataframe=dataframe_creation(banglore_neighbors)
banglore_dataframe

         Neighborhood Latitude Longitude
0          Cantonment  33.9986   71.5338
1              Domlur  12.9625   77.6382
2         Indiranagar  12.9733   77.6405
3   Jeevanbheemanagar      NaN       NaN
4         Malleswaram  16.7029   81.7879
..                ...      ...       ...
64        Vijayanagar  29.2436   73.5223
65     Doddaballapura   13.293   77.5431
66     Doddaballapura   13.293   77.5431
67             Magadi  12.9567   77.2242
68             Bidadi  12.7989    77.387

[69 rows x 3 columns]

In [21]:
banglore_dataframe.to_csv('Data/banglore_Dataframe.csv')